{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% block head_title %}{{'Ziko Ai | Confirm Email Address'}}{% endblock %}

{% block content %}
{% include "component/nav.html" %}


<div class="relative z-10 overflow-hidden pt-[120px] pb-[60px] md:pt-[130px] lg:pt-[160px] ">
    <div
      class="w-full h-px bg-gradient-to-r from-stroke/0 via-stroke  to-stroke/0 absolute left-0 bottom-0">
    </div>
    <div class="container">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4">
          <div class="text-center">
            <h1 class="mb-4 text-3xl font-bold text-dark  sm:text-4xl md:text-[40px] md:leading-[1.2]">
                Confirm Email Address</h1>

          </div>
        </div>
      </div>
    </div>
</div>


<section class="bg-[#F4F7FF] py-14 lg:py-20 ">
    <div class="container">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4">                           
            <div class="wow fadeInUp p-4 sm:p-8 bg-white shadow sm:rounded-lg ">             
                <div class="max-w-xl">
                    <section>
                        
                        {% if confirmation %}

                            {% user_display confirmation.email_address.user as user_display %}
                            {% if can_confirm %}
                                <header>
                                    <h2 class="inline-block text-base text-dark ">
                                        Confirm Emails Address
                                    </h2>

                                    <p class="mb-6 mt-1 text-sm text-base text-body-secondary">
                                        Please confirm that <strong>{{ email }}</strong> is an email address for user <strong>{{ user_display }}</strong>.
                                    </p>
                                </header>
                                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                    {% csrf_token %}
                                    <div class="flex items-center gap-4">
                                        <button type="submit"  name="action"  class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest bg-primary text-base text-white hover:bg-blue-dark transition ease-in-out duration-150">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                                            </svg>
                                            
                                            <span>{% trans 'Confirm' %}</span>
                                        </button>
                            
                                    </div>
                                </form>
                            {% endif %}

                        {% else %}
                            {% if  user.emailaddress_set.all.0.verified %} 
                                <header>
                                    <h2 class="inline-block text-base text-dark ">
                                        Confirm Emails Address
                                    </h2>
                                    <p class="mb-6 mt-1 text-sm text-base text-body-secondary">
                                        Unable to confirm <strong>{{ email }}</strong> because it is already confirmed by a different account.
                                    </p>
                                </header>

                            {% else %}
                                <header>
                                    <h2 class="inline-block text-base text-dark ">
                                        Confirm Emails Address
                                    </h2>
                                    <p class="mb-6 mt-1 text-sm text-base text-body-secondary">
                                        This email confirmation link expired or is invalid. Please issue a new email confirmation request.
                                    </p>
                                </header>
                                <form action="{% url 'Verification-again' %}" method="post" name="resendVerification" class="email_list">
                                    {% csrf_token %}
                                    <input style="display:none"type="hidden" name="email" value="{{user.email}}">
                                    <div class="flex items-center gap-4">
                                        <button type="submit" name="action_send"  class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest bg-primary text-base text-white hover:bg-blue-dark transition ease-in-out duration-150">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                                            </svg>
                                            <span>{% trans 'Re-send Verification' %}</span>
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}


                    </section>
                                    
                </div>
            </div>
        </div>
        </div>
    </div>
</section>




{% include "component/footer.html" %}
<!-- ====== Footer Section End -->

{% endblock content %}
