{% extends "base_app.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% block head_title %}{{'Ziko AI'}}{% endblock %} 
{% block extra_head %}
<meta name="description" content="Ziko streamlines Google review responses with instant AI assistance, improving the quality of feedback and boosting online visibility effortlessly.">
{% endblock %} 

{% block content %}
<main class="main" id="top">
    <div class="container">
      <div class="row flex-center min-vh-100 py-5">
        <div class="col-sm-10 col-md-8 col-lg-5 col-xxl-4"><a class="d-flex flex-center text-decoration-none mb-4" >
            <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="{% static 'main/assets/img/icons/logo.png' %}" alt="phoenix" width="58"></div>
          </a>
          <div class="px-xxl-5">
            <div class="text-center mb-6">

                        {% if confirmation %}

                            {% user_display confirmation.email_address.user as user_display %}
                            {% if can_confirm %}
                                <h4 class="text-1000 mb-2">Confirm Emails Address</h4>
                                <p class="text-700 mb-5">Please confirm that <strong>{{ email }}</strong> is an email address for user <strong>{{ user_display }}</strong>.</p>
                                <form class="verification-form" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                <button class="btn btn-primary w-100 mb-5" type="submit"  name="action" >Varify</button>
                                </form>
                            {% endif %}

                        {% else %}
                            {% if  user.emailaddress_set.all.0.verified %} 
                                <h4 class="text-1000 mb-2">Confirm Emails Address</h4>
                                <p class="text-700 mb-5">Unable to confirm <strong>{{ email }}</strong> because it is already confirmed by a different account.</strong>.</p>

                            {% else %}
                                <h4 class="text-1000 mb-2">Confirm Emails Address</h4>
                                <p class="text-700 mb-5">This email confirmation link expired or is invalid. Please issue a new email confirmation request.</strong>.</p>
                                
                                <form action="{% url 'Verification-again' %}" method="post" name="resendVerification" class="verification-form">
                                    {% csrf_token %}
                                     <input style="display:none" type="text" name="email" value="{{user.email}}" readonly>
                                    <button class="btn btn-primary w-100 mb-5" type="submit" name="action_send">Re-send Verification</button>
                                </form>
                        
                            {% endif %}
                        {% endif %}


            </div>
          </div>
        </div>
      </div>
    </div>
</main>





<section class="bg-[#F4F7FF] py-14 lg:py-20 ">
    <div class="container">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4">                           
            <div class="wow fadeInUp p-4 sm:p-8 bg-white shadow sm:rounded-lg ">             
                <div class="max-w-xl">
                    <section>
                        
                        {% if confirmation %}

                            {% user_display confirmation.email_address.user as user_display %}
                            {% if can_confirm %}
                                <header>
                                    <h2 class="inline-block text-base text-dark ">
                                        Confirm Emails Address
                                    </h2>

                                    <p class="mb-6 mt-1 text-sm text-base text-body-secondary">
                                        Please confirm that <strong>{{ email }}</strong> is an email address for user <strong>{{ user_display }}</strong>.
                                    </p>
                                </header>
                                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                    {% csrf_token %}
                                    <div class="flex items-center gap-4">
                                        <button type="submit"  name="action"  class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest bg-primary text-base text-white hover:bg-blue-dark transition ease-in-out duration-150">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                                            </svg>
                                            
                                            <span>{% trans 'Confirm' %}</span>
                                        </button>
                            
                                    </div>
                                </form>
                            {% endif %}

                        {% else %}
                            {% if  user.emailaddress_set.all.0.verified %} 
                                <header>
                                    <h2 class="inline-block text-base text-dark ">
                                        Confirm Emails Address
                                    </h2>
                                    <p class="mb-6 mt-1 text-sm text-base text-body-secondary">
                                        Unable to confirm <strong>{{ email }}</strong> because it is already confirmed by a different account.
                                    </p>
                                </header>

                            {% else %}
                                <header>
                                    <h2 class="inline-block text-base text-dark ">
                                        Confirm Emails Address
                                    </h2>
                                    <p class="mb-6 mt-1 text-sm text-base text-body-secondary">
                                        This email confirmation link expired or is invalid. Please issue a new email confirmation request.
                                    </p>
                                </header>
                                <form action="{% url 'Verification-again' %}" method="post" name="resendVerification" class="email_list">
                                    {% csrf_token %}
                                    <input style="display:none"type="hidden" name="email" value="{{user.email}}">
                                    <div class="flex items-center gap-4">
                                        <button type="submit" name="action_send"  class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest bg-primary text-base text-white hover:bg-blue-dark transition ease-in-out duration-150">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                                            </svg>
                                            <span>{% trans 'Re-send Verification' %}</span>
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}


                    </section>
                                    
                </div>
            </div>
        </div>
        </div>
    </div>
</section>






{% endblock content %}
