{% load static %}
{% if user.is_authenticated %}
<div class="ud-header absolute top-0 left-0 z-40 flex w-full items-center bg-transparent">
  <div class="container">
    <div class="relative -mx-4 flex items-center justify-between">
      <div class="w-60 max-w-full px-4">
        <a href="{% url 'app' %}" class="navbar-logo block w-full py-5">
          <img src="{% static 'main/assets/images/logo/logo.svg' %}" alt="logo" class="w-full" />
        </a>
      </div>
      <div class="flex w-full items-center justify-between px-4" style="padding-left: 8rem;">
        <div>
          <button id="navbarToggler"
            class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden">
            <span class="relative my-[6px] block h-[2px] w-[30px] bg-dark"></span>
            <span class="relative my-[6px] block h-[2px] w-[30px] bg-dark"></span>
            <span class="relative my-[6px] block h-[2px] w-[30px] bg-dark"></span>
          </button>
          <nav id="navbarCollapse"
            class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white py-5 shadow-lg lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:py-0 lg:px-4 lg:shadow-none xl:px-6">
            <ul class="blcok lg:flex 2xl:ml-20">
              <li class="group relative">
                <a href="{% url 'app' %}"
                  class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color">
                  Dashboard
                </a>
              </li>
              <li class="group relative">
                <a href="{% url 'reviews' %}"
                  class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                  Reviews
                </a>
              </li>
              <li class="group relative">
                <a href="{% url 'plans' %}"
                  class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                  Plans
                </a>
              </li>
              <li class="group relative">
                <a href="{% url 'accounts' %}"
                  class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                  Accounts
                </a>
              </li>
              <li class="group relative">
                <a href="{% url 'settings' %}"
                  class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                  Settings
                </a>
              </li>

              <li class="group relative lg:hidden">
                  <a href="{% url 'profile' %}"
                    class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                    Profile
                  </a>
              </li>

              <li class="group relative lg:hidden">
                <form method="post" action="{% url 'account_logout' %}" class="w-full">
                  {% csrf_token %} 
                  {% if redirect_field_value %}
                      <input
                      type="hidden"
                      name="{{ redirect_field_name }}"
                      value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button type="submit" class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                      
                      <span>Log out</span>
                  </button>
                </form>
              </li>

            </ul>
          </nav>
        </div>
      </div>
      <div id="signCollapse" class=" hidden justify-end  pr-16 lg:pr-0 lg:flex ">
        <ul>
            <li class="relative">
                <button class="p-0 rounded-full btn btn-white" @click="toggleProfileMenu" @keydown.escape="closeProfileMenu" aria-label="Account" aria-haspopup="true">
                  <div class="avatar avatar-sm">
                   
                    {% if user.socialaccount_set.all.0.extra_data.picture %}
                    <img src="{{user.socialaccount_set.all.0.extra_data.picture}}" alt="avatar" aria-hidden="true" />
                     
                    {% else %}
                      <img src="{% static 'accounts/images/User_01.jpg' %}" alt="avatar" aria-hidden="true" />
                      
                    {% endif %}
                  </div>
                </button>

                <template x-if="isProfileMenuOpen">
                    <ul
                      x-transition:leave="transition ease-in duration-150"
                      x-transition:leave-start="opacity-100"
                      x-transition:leave-end="opacity-0"
                      @click.away="closeProfileMenu"
                      @keydown.escape="closeProfileMenu"
                      class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md "
                      aria-label="submenu">
                      <li class="flex">
                        <a
                          class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 "
                          href="{% url 'profile' %}"
                        >
                          <svg
                            class="w-4 h-4 mr-3"
                            aria-hidden="true"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                            ></path>
                          </svg>
                          <span>Profile</span>
                        </a>
                      </li>
                      <li class="flex">
                        <form method="post" action="{% url 'account_logout' %}" class="w-full">
                          {% csrf_token %} 
                          {% if redirect_field_value %}
                              <input
                              type="hidden"
                              name="{{ redirect_field_name }}"
                              value="{{ redirect_field_value }}"/>
                          {% endif %}
                          <button type="submit" class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 ">
                              <svg
                              class="w-4 h-4 mr-3"
                              aria-hidden="true"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor" >
                              <path
                                  d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
                              ></path>
                              </svg>
                              <span>Log out</span>
                          </button>
                        </form>
                      </li>
                    </ul>
                </template>
                 
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% else %}

<div class="ud-header absolute top-0 left-0 z-40 flex w-full items-center bg-transparent">
    <div class="container">
      <div class="relative -mx-4 flex items-center justify-between">
        <div class="w-60 max-w-full px-4">
          <a href="{% url 'home' %}" class="navbar-logo block w-full py-5">
            <img src="{% static 'main/assets/images/logo/logo.svg' %}" alt="logo" class="w-full" />
          </a>
        </div>
        <div class="flex w-full items-center justify-between px-4">
          <div style="padding-left: 8rem;">
            <button id="navbarToggler"
              class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden">
              <span class="relative my-[6px] block h-[2px] w-[30px] bg-dark"></span>
              <span class="relative my-[6px] block h-[2px] w-[30px] bg-dark"></span>
              <span class="relative my-[6px] block h-[2px] w-[30px] bg-dark"></span>
            </button>
            <nav id="navbarCollapse"
              class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white py-5 shadow-lg lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:py-0 lg:px-4 lg:shadow-none xl:px-6">
              <ul class="blcok lg:flex 2xl:ml-20">
                <li class="group relative">
                  <a href="{% url 'home' %}"
                    class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color">
                    Home
                  </a>
                </li>
                <li class="group relative">
                  <a href="{% url 'about' %}"
                    class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                    About
                  </a>
                </li>
                <li class="group relative">
                  <a href="{% url 'pricing' %}"
                    class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                    Pricing
                  </a>
                </li>
                <li class="group relative">
                  <a href="{% url 'lotus:article-index' %}"
                    class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                    Blog
                  </a>
                </li>
                <li class="group relative">
                  <a href="{% url 'contact' %}"
                    class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                    Contact
                  </a>
                </li>

                <li class="group relative lg:hidden">
                  <a href="{% url 'account_login' %}"
                    class="ud-menu-scroll mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                    Sign In
                  </a>
                </li>

                <li class="group relative lg:hidden">
                  <a href="{% url 'account_signup' %}"
                    class="mx-8 flex py-2 font-medium text-base text-dark group-hover:text-primary lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-body-color xl:ml-10">
                    Sign Up
                  </a>
                </li>

              </ul>
            </nav>
          </div>
          <div class="hidden justify-end pr-16 lg:pr-0 lg:flex ">
            <a href="{% url 'account_login' %}" class="loginBtn py-2 px-[22px] text-base font-medium text-dark hover:text-primary">
              Sign In
            </a>
            <a href="{% url 'account_signup' %}"
              class="signUpBtn rounded-md bg-primary py-2 px-6 text-base font-medium text-white duration-300 ease-in-out hover:bg-blue-dark">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}